*{margin: 0; padding: 0;}
html{
    background-color: #daedff;
}
.bg{
    position: absolute;
    background-color: #daedff;
    width: 100%;
    height: 100%;
    padding: 150px 0;
}

.search-bar{
    max-width: 770px;
    width: 60%;
    margin: auto;
    background-color: white;
}
.search-bar input{
    width: 90%;
    height: 40px;
    padding: 0 18px;
    margin: auto;
    border: none;
    outline: none;
}
.search-bar .search-button{
    float: right;
    height: 40px;
    width: 10%;
    border: none;
    background-color: #466480;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.weather-box{
    max-width: 770px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    height: 400px;
    border-radius: 0 0 40px 40px;
    text-align: center;
    padding-top: 45px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
}

.weather-box .location{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.weather-box .temperature-result, .weather-box .humidity-result{
    color: rgb(8, 101, 28);
    font-weight: bold;
    font-size: 30px;
    font-weight: 800;
}
.weather-box .temperature-result{
    margin-bottom: 20px;
}
.weather-box .temperature, .weather-box .humidity{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.weather-box .weather{
    margin-top: 30px;
    color: rgb(29, 29, 192);
    font-size: 30px;
    font-weight: bold;
}


.button-box{
    max-width: 770px;
    width: 60%;
    margin: auto;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    box-sizing: border-box;
    /* background-color: black; */
    margin-top: 20px;
}
.button-box Button{
    height: 40px;
    padding: 0 20px;
    cursor: pointer;
    background-color: rgb(255, 207, 16);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    margin: 10px;
}
.button-box Button:hover{
    background-color: rgb(255, 159, 16);
}
.button-box .current-location{
    height: 40px;
    padding: 0 20px;
    cursor: pointer;
    background-color: rgb(255, 159, 16);
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.button-box .current-location:hover{
    background-color: rgb(255, 132, 16);
    color: white;
}
.error400-box h2{
    font-weight: bold;
}


@media (max-width:1024px) {
    .bg{
        padding: 100px 0;
    }
}
@media (max-width:920px) {
    .search-bar, .weather-box, .button-box{
        width: 80%;
    }
}
@media (max-width:870px) {
    .bg{
        padding: 100px 0;
    }
    
}
@media (max-width:540px) {
    .bg{
        padding: 50px 0;
    }
    .search-bar, .weather-box, .button-box{
        width: 90%;
    }
    .button-box{
        margin-top: 0;
    }
}
@media (max-width:385px) {
    .search-bar, .weather-box, .button-box{
        width: 100%;
        border-radius: 0;
    }
    .weather-box{
        height: 350px;
        padding-top: 20px;
    }
    .button-box Button, .button-box .current-location{
        height: 40px;
        padding: 0 10px;
        font-size: 16px;
        margin: 5px;
    }
}
@media (max-width:305px) {
    .bg{
        padding: 50px 0;
    }    
    .search-bar, .weather-box, .button-box{
        width: 100%;
        border-radius: 0;
    }
    .weather-box{
        height: 310px;
        padding-top: 20px;
    }
    .weather-box .location{
        margin-bottom: 10px;
    }
    .weather-box .temperature-result{
        margin-bottom: 5px;
    }
    .button-box Button, .button-box .current-location{
        height: 40px;
        padding: 0 10px;
        font-size: 16px;
        margin: 5px;
    }
}